.presentation-container {
    margin-top: 8%;
    min-height: 100vh;
    padding: 5rem 9% 5rem;
    display: block;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.presentation-container .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

.info-wrapper {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.home-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.home-content span{
    color: #473d8b;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-img {
    border-radius: 50%;
}

.home-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px #473d8b;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover {
    font-size: 1.8rem;
    font-weight: 500;
}

